* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
  font-size: 14px;
}

body {
  background-color: hsl(47, 88%, 63%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  max-width: 308px;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 7%);
  border-radius: 16px;
  box-shadow: 9px 9px hsl(0, 0%, 7%);
}

.card__image {
  max-width: 90%;
  display: block;
  border-radius: 8px;
  margin: 1.25rem auto;
}

.card__content {
  margin-left: 1.125rem;
}

.card__tag-text {
  background-color: hsl(47, 88%, 63%);
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0.9375rem;
}

.card__title {
  margin: 1.25rem 0;
  font-size: 1.25rem;
}

.card__title:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}

.card__text {
  color: hsl(0, 0%, 42%);
}

.card__profile {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 1.25rem 0;
}

.card__profile-image {
  width: 30px;
}

@media (min-width: 768px) {
  * {
    font-size: 16px;
  }
  .card {
    max-width: 350px;
  }
}
